body{
    background-color:#DDDDDD;
}

  hr {
border-width: 8px;
border-style:dotted none none none;
border-color:rgb(250, 255, 247);
width: 20%;

}

h1,h3{
color:rgb(45, 45, 59);

}

h1,h3{
  background-color:rgb(163, 164, 162);

}